<div class="row">
  <div class="col">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>

